*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #EAFAEB;
    overflow: hidden;
}

::selection{
    background: rgba(26, 188, 77, 0.3);
}

.content {
    background: #EAFAEB;
}

a.card-link:hover,
a.card-link:focus,
a.card-link:active {
    text-decoration: none;
}

/*Sidebar CSS Start*/
.nav-item.active {
    text-align: left;
}

.sidebar-nav-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar-nav-link img {
    width: 35px;
    height: 35px;
    margin-right: 3px;
}

.sidebar-nav-link p {
    font-size: 14px !important;
    text-transform: uppercase;
}
/*Sidebar CSS End*/

/*AdminSidebar CSS Start*/
.sidebar-wrapper {
    background-color: #9DCD5A;
}
/*AdminSidebar CSS End*/

/*Main Content Dashboard Start*/
.dashboard-area {
    max-width: 900px;
    margin:auto;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    margin-bottom: 15px;
}

/*Main Content Dashboard End*/

/*Card CSS Start*/
.card-container {
    width: 100%;
    margin: 10px 0; /* Adjust the margin as needed */
}

.card {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 5px 10px 20px rgba(75, 75, 75, 0.1);
}

/* Fixed height for desktop and tablet */
@media (min-width: 730px) {
    .card {
        height: 180px;
    }
    .spray-card {
        height: 140px;
    }
}

/* Adaptive height for mobile */
@media (max-width: 729px) {
    .card {
        height: auto;
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0 !important;
}

.task-card-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    padding: 0 10px !important;
}

.card img {
    max-width: 50px; /* Adjust the max-width as needed */
    max-height: 50px; /* Adjust the max-height as needed */
    margin-bottom: 10px;
}

.card-title {
    margin-top: 15px !important;
    font-weight: bold !important;
    color: #9DCD5A;
}

.card-body p {
    color: black;
    margin-bottom: 10px;
}

.card-body p i {
    color: #7D8CC4;
    margin-right: 5px;
}

/* Additional styles for smaller screens (tablets) */
@media (min-width: 577px) and (max-width: 991px) {
    .card-container {
        max-width: 350px; /* Adjust the margin as needed */
    }
}

/* Additional styles for even smaller screens (phones) */
@media (max-width: 576px) {
    .card-container {
        max-width: 350px; /* Adjust the margin as needed */
    }
}
/*Card CSS End*/

/*Admin CSS Start*/
.plot-ownership-tag {
    text-transform: uppercase;
    border-radius: 6px;
    padding: 5px 10px;
    color: #ffffff !important;
    margin-top: 10px;
}
/*Admin CSS End*/

/*Land Tasks CSS Start*/
.plan-task-tag {
    display: inline-block;
    align-items: center;
    border-radius: 6px;
    padding: 3px 10px 0;
    margin-bottom: 15px !important;
}
/*Admin CSS End*/

/*Start Card CSS*/
.info-card-content {
    /*margin: 10px;*/
    padding: 20px 10px 20px 30px;
    width: 80%;
}

.info-card-content p{
    color: #A6A6A6;
    font-size: 13px;
    margin-bottom: 5px;
}

.edit-icon {
    width: 20%;
    justify-self: end;
}

.edit-icon-img {
    width: 60px;
    height: 60px;
}

.date {
    color: #9DCD5A;
    font-size: 15px !important;
    margin-bottom: 10px !important;
}

.modal-content {
    border: none;
    border-radius: 7px;
    box-shadow: 10px 10px 20px rgba(169, 169, 169, 0.5);
}

.modal-header {
    background-color: #ffffff;
    border-bottom: none;
}

.modal-title {
    color: #9DCD5A;
}

.modal-body {
    padding: 20px;
}

/* End Card CSS*/

/* New Record Button CSS Start */
.new-record-button {
    width: 175px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(169, 169, 169, 0.6);
    background-color: #7D8CC4;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.new-record-button-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.new-record-button-text {
    font-size: 15px;
    color: white;
}
/* New Record Button CSS End */


/*Login CSS Start*/
.login-form {
    width: 400px;
    max-width: 440px;
    padding: 0;
    /*margin: 250px 10px;*/
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);

}

/* Additional styles for even smaller screens (phones) */
@media (max-width: 576px) {
    .login-form {
        max-width: 350px; /* Adjust the margin as needed */
    }
}
.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #EAFAEB;
}


.wrapper .title{
    height: 90px;
    background: #9DCD5A;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper form{
    padding: 30px 25px 25px 25px;
}
.wrapper form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}
.wrapper form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}
form .row input:focus{
    border-color: #9DCD5A;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}
form .row input::placeholder{
    color: #999;
}
.wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    color: #9DCD5A;
    font-size: 18px;
    background: transparent;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper form .forgetpass{
    margin: -8px 0 20px 0;
}
.wrapper form .forgetpass a{
    color: #80efde;
    font-size: 17px;
    text-decoration: none;
}
.wrapper form .forgetpass a:hover{
    text-decoration: underline;
}
.wrapper form .button input{
    width: 150px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #7D8CC4;
    border: 1px solid #7D8CC4;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
form .button input:hover{
    background: #7D8CC4;
}
.wrapper form .signup-link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}
.wrapper form .signup-link a{
    color: #16a085;
    text-decoration: none;
}
form .signup-link a:hover{
    text-decoration: underline;
}
/*Login CSS End*/